::before {
  --main-bg: #2ff3e0;
  --secondary-bg: #f8d210;
  --asset-color: #fa26a0;
  --deco-color: #f51720;
}

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

h2 {
  font-family: "VT323", monospace;
}

body {
  background-color: black;
}

/* color scheme */

.bg--main {
  background-image: linear-gradient(
    to right top,
    #051937,
    #082248,
    #0d2c5a,
    #12376d,
    #184180
  );
}

.container--body {
  background-color: var(--secondary-bg);
}

.border--black {
  border: 5px solid black;
}
